body{
    background-color: #87ceeb;
    padding-top: 60px;
    padding-bottom: 40px;
}

.container{
    text-align: center;
    background-color: #fffaf0;
}

#congratsMessage{
    display: none;
    font-size: 25px;
    margin-top: 30px;
}

video{
    width: 640px;
    height: 480px;
}

#photoCanvas{
    display: inline;
}

#ghostCanvas{
    display: none;
}