#content{
    text-align: center;
}

#congratsMessage{
    display: none;
    font-size: 25px;
}

video{
    width: 640px;
    height: 480px;
}

#photoCanvas{
    display: inline;
}

#ghostCanvas{
    display: none;
}