@font-face {
    font-family: "Roughage Serif";
    src: url("fonts/roughage.eot?") format("eot"), url("fonts/roughage.woff") format("woff"), url("fonts/roughage.ttf") format("truetype"), url("fonts/roughage.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}

body{
    padding-bottom: 40px;
    background: url(../img/wooden-planks.jpg) repeat;
    color: white;
}

h1{
    font-family: Roughage Serif, sans-serif;
    font-size: 50px;
    color: #deb887;
}

.container{
    text-align: center;
}

#stop-button{
    display: none;
    margin: 30px 0 30px 0;
    position: relative;
    z-index: 101;
}

#congratsMessage{
    display: none;
    font-size: 25px;
    margin-top: 30px;
}

video{
    height: 320px;
    width: 480px;
    position: relative;
    z-index: 101;
}

#photoCanvas{
    display: inline;
    position: relative;
    z-index: 101;
}

video, #cameraInstructions, #sorryMsg, .photoInstructions, #ghostCanvas {
    display: none;
}

#sorryMsg{
    font-size: 30px;
    font-style: italic;
}

#instructions{
    font-size: 25px;
    font-style: italic;
}

#shadow {
    background-image: url("../img/shade1x1.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
